body {
    background: url('./login_background.png') no-repeat center center fixed;
    background-size: 90% 100%;
    background-color: #142c53;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    padding-right: 60px;
}

.signup-container {
    width: 350px;
    max-width: 600px;
    margin: 0;
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #f9f9f9;
}

.signup-container h2 {
    margin-bottom: 30px;
    margin-top: -40px;
    font-size: 2rem;
    color: #142c53;
}

.signup-container label {
    display: block;
    margin: 10px 0 5px;
    color: #142c53;
}

.signup-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-container button {
    width: 100%;
    padding: 12px;
    margin-left: 10px;
    background-color: #28a745;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.signup-container button:disabled {
    background-color: #ccc;
}

.signup-container .error {
    color: red;
    margin-top: 20px; /* Increase the margin */
    font-size: 1rem; /* Increase the font size */
}

.signup-container .success {
    color: green;
    margin-top: 20px; /* Increase the margin */
    font-size: 1rem; /* Increase the font size */
}

.signup-container p {
    margin-top: 30px; /* Increase the margin */
    font-size: 1rem; /* Increase the font size */
}
