tensorflow==2.9.0
fastapi
uvicorn
python-multipart
pillow
tensorflow-serving-api==2.9.0
matplotlib
numpy
Flask 
Flask-CORS 
Flask-SQLAlchemy 
Werkzeug 
WTForms
sqlalchemy 
pydantic
passlib
Flask-Migrate
Flask-Bcrypt
Flask-JWT-Extended
Flask-Mail

